body {
  background-color: tan;
}

.box {
  height: 25px;
  width: 200px;
  background-color: yellow;
  padding: 20px;
  font-size: 20px;
  margin: 150px auto 0 auto;
}

*:not(.box) {
  width: 400px;
  margin: 0 auto;
}
